<%- include('partials/header') %>

    <div class=" rounded-xl w-[80%] py-[8%] bg-gray-200 m-auto mt-5">
        <h1 class="text-center text-8xl font-extrabold text-purple-400">This is About page</h1>
        <p class="w-[70%] m-auto mt-10 text-2xl border border-zinc-500 p-5 px-5 rounded-xl">Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Itaque, odio quas doloremque iusto eos placeat aspernatur et beatae ipsam
            nulla quo. Nostrum excepturi, dignissimos in soluta ipsum necessitatibus quos! Omnis?</p>

    </div>

    <%- include('partials/footer') %>