<%- include('partials/header') %>
    <div class=" rounded-xl w-[80%] m-auto mt-3">
        <h1 class="bg-gray-200 w-[50%] rounded-xl p-8 m-auto text-center text-5xl font-extrabold text-purple-400">Forget
            Password
        </h1>

        <form class="mt-[5%] m-auto text-center" action="/forget-password/<%= id%>" method="post">

            <input class="w-[30%] mb-10 border border-zinc-500 p-3 rounded-xl text-xl" type="password" name="newPassword"
                placeholder="Enter new password">
            <br><br>


            <button
                class="mt-5 text-center block w-[30%] m-auto hover:bg-purple-600 rounded-xl text-white py-3 px-5 bg-purple-400">
                Change-Password</button>

        </form>

    </div>

    <%- include('partials/footer') %>