<%- include('partials/header') %>

    <div class="rounded-xl w-[80%] py-[10%] bg-gray-200 m-auto mt-5">
        <h1 class="text-center text-8xl font-extrabold text-purple-400 hover:text-purple-600">This is Homepage</h1>
        <p class="flex justify-center gap-x-10 mt-10">
            <a class="hover:bg-purple-600 rounded text-white py-3 px-5 bg-purple-400" href="/login">Continue Surfing</a>
            <a class="hover:bg-purple-600 rounded text-white py-3 px-5 bg-purple-400" href="/login">Start your Journey
                Today!</a>
            <a class="hover:bg-purple-600 rounded text-white py-3 px-5 bg-purple-400" href="/register">Register</a>
            <a class="hover:bg-purple-600 rounded text-white py-3 px-5 bg-purple-400" href="/profile">Profile</a>
        </p>
    </div>











    <%- include('partials/footer') %>