<%- include('partials/header') %>

<div class="rounded-xl w-full max-w-lg bg-white p-8 shadow-lg mt-24 mx-auto">
    <h1 class="bg-purple-100 w-full p-5 rounded-xl text-center text-3xl sm:text-4xl font-extrabold text-purple-500 mb-6">
        Reset Password
    </h1>

    <form class="text-center" action="/reset-password/<%= user._id %>" method="post">
        <input
            class="w-full mb-5 border border-zinc-300 p-3 rounded-md text-lg sm:text-xl focus:outline-none focus:ring-2 focus:ring-purple-500"
            type="password" name="oldPassword" placeholder="Enter Old Password">
        <br>
        <input
            class="w-full mb-5 border border-zinc-300 p-3 rounded-md text-lg sm:text-xl focus:outline-none focus:ring-2 focus:ring-purple-500"
            type="password" name="newPassword" placeholder="Enter New Password">
        <br>

        <button
            class="w-full mt-5 text-center block rounded-md text-white py-3 px-5 bg-purple-400 hover:bg-purple-500 transition duration-200">
            Reset Password
        </button>
    </form>
</div>

<%- include('partials/footer') %>
